<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./home.css">
    <script src="./client.js"></script>
    <script src="./clientPelis.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="barra-home">
        <form action="" class="search">
            <!-- We'll have a button that'll make the search input appear, a submit button and the input -->
            
            <!-- Alos, a label for it so that we can style it however we want it-->
            <input id="submit" value="" type="submit">
            <label for="submit" class="submit"></label>
            
            <!-- trigger button and input -->
            <a href="javascript: void(0)" class="icon"></a>
            <input type="search" name="Search" id="search" placeholder="Search">
        </form>
        <a id="titulo" href="/">metacritic</a>
        <a id="juegos" href="/juegos">Juegos</a>
        <a id="peliculas" href='/pelis'>Peliculas</a>
        <a id="musica" href="/musica">Musica</a>
        <a id="login" href="/login">login</a>
        <a id="sign" href="/sign">Sign In</a>
    </div>
    <div id="div-contenedor">
            {{{body}}}
    </div>

</body>
</html>